In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Senno,RU,2021-06-02 21:00:57,59.5336,33.9167,41.27,72,4,5.59
1,1,Ca Mau,VN,2021-06-02 21:00:58,9.1769,105.1500,79.56,90,100,4.23
2,2,Mirpur Mathelo,PK,2021-06-02 21:00:58,28.0227,69.5489,93.99,30,0,6.55
3,3,Bluff,NZ,2021-06-02 21:00:59,-46.6000,168.3333,49.80,83,98,9.28
4,4,Bengkulu,ID,2021-06-02 21:01:00,-3.8004,102.2655,76.87,84,67,4.65

In [12]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.2)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 82

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Ca Mau,VN,2021-06-02 21:00:58,9.1769,105.1500,79.56,90,100,4.23
4,4,Bengkulu,ID,2021-06-02 21:01:00,-3.8004,102.2655,76.87,84,67,4.65
9,9,Portel,BR,2021-06-02 21:01:02,-1.9356,-50.8211,81.95,76,28,2.80
13,13,Arraial Do Cabo,BR,2021-06-02 21:01:04,-22.9661,-42.0278,72.97,86,0,10.63
14,14,Lorengau,PG,2021-06-02 21:01:05,-2.0226,147.2712,77.41,91,100,2.89
16,16,Hilo,US,2021-06-02 21:01:06,19.7297,-155.0900,79.79,81,63,5.01
17,17,Salinopolis,BR,2021-06-02 21:01:06,-0.6136,-47.3561,80.38,83,6,9.80
21,21,Roma,US,2021-06-02 21:01:03,43.2128,-75.4557,71.40,60,75,11.50
32,32,Micheweni,TZ,2021-06-02 21:01:12,-4.9667,39.8333,76.53,80,38,9.78
38,38,Gamba,GA,2021-06-02 21:01:14,-2.6500,10.0000,75.11,92,29,2.62

In [20]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

               City Country  Max Temp      Lat       Lng Hotel Name
1            Ca Mau      VN     79.56   9.1769  105.1500
4          Bengkulu      ID     76.87  -3.8004  102.2655
9            Portel      BR     81.95  -1.9356  -50.8211
13  Arraial Do Cabo      BR     72.97 -22.9661  -42.0278
14         Lorengau      PG     77.41  -2.0226  147.2712

In [22]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Ca Mau,VN,79.56,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau
4,Bengkulu,ID,76.87,-3.8004,102.2655,Grage Hotel Bengkulu
9,Portel,BR,81.95,-1.9356,-50.8211,Kitnet do Marcos
13,Arraial Do Cabo,BR,72.97,-22.9661,-42.0278,Pousada Porto Praia
14,Lorengau,PG,77.41,-2.0226,147.2712,Lorengau Harbourside Hotel

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))